@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/* body {
  overflow: hidden;
} */
.line {
  border-bottom: 1px solid #e5e5e5;
}
.line-h3 {
  border-bottom: 1px solid #212529;
}
.line-sm {
  border-bottom: 1px solid #c6c8ca;
}
.nav-link:hover {
  color: #fff;
  background-color: #007bff;
}
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 7rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
